/*
* @Author: name
* @Date:   2018-02-05 10:53:40
* @Last Modified by:   name
* @Last Modified time: 2018-02-08 14:56:30
*/
.banner {
  z-index: -1;
}
.banner img {
  width: 100%;
}
body,
html {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #333;
  font-family: "微软雅黑";
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ul,
li,
button,
input,
table,
tr,
td,
th {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
/*清除input外边框*/
input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
select:focus {
  outline: none;
}
.myContainer {
  width: 1280px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.g_alt_box{
    height:100%;
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index:98;
    display: none;
}
.g_alt{
    background:#fff;
    width:677px;
    height:446px;
    position:fixed;
    top:20%;
    left: 0;
    right: 0;
    margin:0 auto;
    border:2px solid#e2e2e2;
    z-index:99;
     display: none;
    // position:relative;
}
.g_alt h1{
    font-size:18px;
    color:#498e3d;
    height:73px;
    border-bottom: 1px solid#e2e2e2;
    line-height: 73px;
    padding-left:30px;
}
.g_take{
    width:596px;
    height:200px;
    padding-left:30px;
}
.g_boxl{
    width:117px;
    height:210px;
    float: left;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    margin-left:48px;
    margin-top:38px;
}
.g_boxr{
    width:458px;
    height:210px;
    float: left;
    margin-top:38px;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}
.g_boxl h5{
    font-size:14px;
    color:#494949;
    text-align: center;
    height:35px;
    line-height:35px;
}
.g_boxl h5:nth-child(1){
    text-align: left;
}
.g_boxr .g_name{
    width:331px;
    height:35px;
    border:1px solid#d3d3d3;
    line-height:35px;
    padding-left:15px;
}
.g_boxr select{
    width:140px;
    height:35px;
    float: left;
    margin-left:19px;
}
.g_boxr select:nth-child(1){
    margin-left:0;
}
.g_site{
    width:460px;
    height:35px;
    padding-left:11px;
}
.g_recom{
    width: 152px;
    height:35px;
    padding-left:11px;
}
.g_area{
    width:49px;
    height: 35px;
}
.g_phone{
    width:125px;
    height:35px;
}
.g_telephone{
    margin-left:12px;
}
.g_set{
    position: absolute;
    display: flex;
    align-items:center;
    top:355px;
    left:163px;
}
.g_set b{
    margin-left:12px;
}
.g_save{
    position:absolute;
    display: flex;
    justify-content:space-between;
    width:344px;
    top:390px;
    left:163px;
}
.g_save a{
    display:inline-block;
    width: 111px;
    height:35px;
    border-radius:4%;
    text-align:center;
    line-height:35px;
    color:white;
}
.g_save a:nth-child(1){
    background:#999999;
}
.g_save a:nth-child(2){
    background:#f08200;
}
.g_boxr h6{
    color:red;
    display:none;
}
.g_in1{
    position:relative;
}
.g_in1 img{
    position:absolute;
    top:14px;
    right:127px;
    display:none;
}
.h62{
    display:none;
}
.g_sibox{
    position:relative;
}
.g_sibox img{
    position:absolute;
    top:14px;
    right: 0;
    display:none;
}
.g_boxr h6{
    display:none;
}
.g_boxr div:nth-child(4){
    position:relative;
}
.g_boxr div:nth-child(4) img{
    position:absolute;
    top:15px;
    left:150px;
    display:none;
}
.g_boxrimg{
    position:absolute;
    top:298px;
    left:453px;
    display:none;
}
.g_boxr div:nth-child(4) h6{
    position:absolute;
    top:50px;
    left:0px;
}
.g_boxrimg2{
    position:absolute;
    top:298px;
    left:592px;
    display:none;
}




