.crumbs {
  height: 55px;
  padding-left: 20px;
  margin: 20px 0;
  line-height: 55px;
  background-color: #F4F4F4;
}
.crumbs span,
.crumbs a {
  padding: 0 5px;
  color: #666;
}
.article {
  padding: 0 35px;
  border-top: 1px solid #e9e9e9;
}
.article .art_title {
  border-bottom: 1px solid #e9e9e9;
}
.article .art_title h4 {
  text-align: center;
  color: #4B943D;
  margin-top: 40px;
  font-size: 24px;
  font-weight: normal;
}
.article .art_title p {
  text-align: right;
  color: #999;
  font-size: 14px;
  margin-bottom: 20px;
}
.article .art_body {
  color: #666;
  font-size: 14px;
}
.article .art_body p {
  text-indent: 28px;
  margin-top: 40px;
  line-height: 24px;
}
.article .art_body img {
  margin-top: 40px;
}
