.myIntegray {
  width: 1086px;
  height: 100%;
  padding-bottom: 90px;
  border: 1px solid #e7e7e7e7;
}
.myIntegray h4 {
  padding: 0 20px;
  width: 100%;
  height: 56px;
  line-height: 65px;
  font-size: 14px;
  color: #323333;
  border-bottom: 1px solid #e7e7e7e7;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.myIntegray ul h5 {
  font-size: 12px;
  line-height: 56px;
}
.myIntegray ul {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.myIntegray ul h5 span {
  color: #f08200;
  font-size: 14px;
}
.myIntegray ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e7e7e7e7;
}
.myIntegray ul li p {
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.myIntegray ul li:hover {
  background: #f4fff2;
}
.myIntegray ul li:nth-child(2):hover {
  background: #f2f2f2;
}
.myIntegray ul li p:nth-child(1) {
  width: 286px;
}
.myIntegray ul li p:nth-child(2) {
  width: 510px;
}
.myIntegray ul li p:nth-child(3) {
  width: 248px;
}
.myIntegray ul li:nth-child(2) {
  line-height: 45px;
  width: 100%;
  height: 45px;
  background: #f2f2f2;
  border-bottom: 0;
}
