/*灰色小字体颜色*/
.paysuccess {
  padding: 200px 0 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paysuccess .h1 {
  width: 80px;
  height: 80px;
  border: 4px solid #f08200;
  color: #f08200;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  font-size: 50px ;
  font-weight: 900;
}
.paysuccess .h2 {
  font-size: 40px;
  color: #f08200;
  margin-top: 40px;
  text-align: center;
}
.paysuccess .h3 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.paysuccess .h3 .h3-1 {
  margin: 0 20px 0 20px;
  width: 185px;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  background-color: #f08200;
}
.paysuccess .h3 .h3-2 {
  margin: 0 20px 0 20px;
  width: 185px;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  background-color: #498e3d;
}
.paysuccess .h4 {
  margin-top: 50px;
  font-size: 15px;
  line-height: 40px;
  color: #999999;
  text-align: center;
}
