.shopping_title {
  float: right;
  line-height: 90px;
  font-size: 18px;
  color: #666;
}
.shopping_title span {
  float: left;
  height: 90px;
  margin-right: 40px;
}
.shopping_title span:last-child {
  margin-right: 0;
}
.shoppingclo {
  color: #f08200;
}
.shopping_line {
  width: 100%;
  height: 1px ;
  margin-top: 3px;
  margin-bottom: 17px;
  background: #e2e2e2;
}
.payok_con {
  display: flex;
  height: 516px;
  justify-content: center;
  align-items: center;
}
.payonbox {
  width: 380px;
  height: 335px;
  text-align: center;
}
.payonbox img {
  width: 78px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.payonbox u {
  text-decoration: none;
  font-size: 30px;
  color: #f08200;
}
.payonbox p {
  font-size: 18px;
  color: #666;
  margin-top: 48px;
}
.payonbox .payok_btn {
  height: 45px;
  width: 100%;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}
.payonbox .payok_btn a {
  display: block;
  width: 170px;
  height: 45px;
  font-size: 18px;
  color: #fff;
  line-height: 45px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}
.payonbox .payok_btn a.payok_look {
  background: #f08200;
}
.payonbox .payok_btn a.payok_logo {
  background: #498e3d;
}
