.perphone {
  width: 1085px;
  height: 678px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.perphone h3 {
  width: 100%;
  padding-left: 20px;
  line-height: 58px;
  font-size: 18px;
  color: #333;
  font-weight: normal;
  border-bottom: 1px solid #e7e7e7;
}
.perphone .perphonebox {
  width: 960px;
  height: 430px;
  margin: 40px auto auto 40px;
}
.perphone .perphonebox ul {
  width: 100px;
  height: 325px;
  float: left;
}
.perphone .perphonebox ul li {
  height: 35px;
  line-height: 35px;
  text-align: right;
  font-size: 18px;
  color: #333;
  margin-bottom: 30px;
}
.perphone .perphonebox ul li.dat {
  height: 76px;
  line-height: 76px;
}
.dabox {
  width: 600px;
  height: 358px;
  float: left;
  margin-left: 20px;
}
.dabox a.pertj {
  display: block;
  width: 150px;
  height: 50px;
  background: #f08200;
  border-radius: 4px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin-top: 40px;
}
.daboxlist {
  height: 76px;
  width: 100%;
}
.daboxlist img {
  height: 76px;
  width: 76px;
  float: left;
  margin-right: 16px;
}
.daboxlist a {
  float: left;
  height: 76px;
  font-size: 14px;
  color: #4b943d;
  line-height: 76px;
}
.daboxlistbb {
  margin-top: 30px;
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
}
.daboxlistbb input[type='text'] {
  width: 172px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #f4f4f4;
  font-size: 16px;
  color: #666;
  padding-left: 11px;
}
.daboxlistbb select {
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.daboxlistbb span {
  font-size: 16px;
  color: #333;
  float: left;
  margin-left: 11px;
  margin-right: 33px;
}
.daboxlistbb select.penn {
  width: 110px;
}
.daboxlistbb select.peny {
  width: 115px;
}
.daboxlistbb input[type='radio'] {
  height: 35px;
  margin-right: 10px;
}
.daboxlistbb a {
  font-size: 16px;
  color: #666;
  margin-right: 36px;
}
.daboxlistbb a.ghs {
  margin-left: 23px;
  font-size: 16px;
  color: #4b943d;
}
